<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>在线投票系统</title>
<link type="image/x-icon" href="images/yc.png" rel="shortcut icon"/>
<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>
<body>
<div id="header" class="wrap">
	<img src="images/logo.gif" />
</div>
<div id="navbar" class="wrap">
	<div class="search">
	<!--  
		<form method="get" action="index.html">
			<input type="text" name="keywords" class="input-text" /><input type="submit" name="submit" class="input-button" value="" />
		</form>
	-->	
	</div>
</div>
<div id="register" class="box">
	<h2>新用户注册</h2>
	<div class="content">
	   <form onsubmit="return false">
			<dl>
				<dt>用户名：</dt>
				<dd><input type="text" class="input-text" v-model="uname" value=""/></dd>
				<dt>密码：</dt>
				<dd><input type="password" class="input-text" v-model="pwd" value=""/></dd>
				<dt>确认密码：</dt>
				<dd><input type="password" class="input-text" v-model="cpwd" value=""/></dd>
				<dt></dt>
				<dd><input type="submit" class="input-button" name="submit" value="" @click="reg()"/></dd>
			</dl>
		</form>
		<div class="error"></div>
		<div class="error"></div>
	</div>
</div>
<div id="footer" class="wrap">
	源辰信息 &copy; 版权所有
</div>
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/qs.js"></script>
<script type="text/javascript" src="js/axios.js"></script>
<script type="text/javascript">
	let vm = new Vue({
		el:"#register",
		data:{
			uname:"",
			pwd:"",
			cpwd:""
		},
		methods:{
			reg:function(){
				if(this.uname == "" || this.pwd == "" || this.pwd != this.cpwd){
					return;
				}
				axios.post("user",qs.stringify({op:"reg",uname:this.uname,pwd:this.pwd})).then(rt => {
					if(rt.data.code == 200){
						location.href = "reg_success.html";
						return;
					}
					alert("注册失败，请稍后再试!")
				})
			}
		}
	})
</script>
</body>
</html>
