<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Topics">
	<insert id="add" parameterType="Topics">
		insert into topic values(#{tid},#{tname},#{types},#{usid},#{sdate},#{edate},'')
	</insert>
	
	<select id="findAll" resultType="Topics">
		select tid,tname,usids,date_format(sdate,'%Y-%m-%d %H:%i') sdate,date_format(edate,'%Y-%m-%d %H:%i') edate,
		(select count(ino) from topicitem i where i.tid=t.tid) usid from topic t
	</select>
	
	<select id="findByTid" parameterType="string" resultMap="topicsInfo">
		select t.tid,tname,usids,types,iname,ino,nums from topicitem i,topic t where t.tid=i.tid and t.tid=#{_parameter}
	</select>
	
	<resultMap type="Topics" id="topicsInfo" autoMapping="true">
		<id column="tid" property="tid"/>
		
		<collection property="topicItems" ofType="TopicItem" column="tid" autoMapping="true">
			<id property="ino" column="ino"/>
		</collection>
	</resultMap>
	
	<update id="update" parameterType="map">
		update topic set usids=concat(usids,'&amp;',#{usid}) where tid=#{tid}
	</update>
 </mapper>